affine==3.0.1
asgiref==3.12.1
attrs==26.1.0
branca==0.8.2
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
click-plugins==1.1.1.2
cligj==0.7.2
ConfigArgParse==1.7.5
Django==5.2
filelock==3.32.5
folium==0.20.0
GDAL==3.12.2
geographiclib==2.1
geohexgrid==3.0.3
geopandas==1.1.4
geopy==2.5.0
gpxpy==1.6.2
gunicorn==26.2.0
whitenoise==6.12.0
idna==3.19
Jinja2==3.1.6
joblib==1.6.0
jpype1==1.7.1
MarkupSafe==3.0.3
networkx==3.6.1
numpy==2.5.2
osmnx==2.1.1
packaging==26.3
pandas==3.0.5
psutil==7.2.2
psycopg2-binary==2.9.12
pyogrio==0.13.0
pyparsing==3.3.2
pyproj==3.7.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.3
pytz==2026.3.post1
r5py==1.1.7
rasterio==1.5.1
requests==2.34.2
rtree==1.4.1
scikit-learn==1.9.0
scipy==1.18.1
shapely==2.1.2
simplification==1.0.0
six==1.17.0
sqlparse==0.6.0
threadpoolctl==3.6.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
xyzservices==2026.3.0
